<div class="controls">
  <label class="checkbox-label">
    {{input
      type="checkbox"
      checked=this.controller.model.custom_fields.protect_history
    }}
    Don't update URL while scrolling through topics
  </label>
</div>